<app-container>
    <header>
        <section class="cabecalho-link">
            <img src="assets/logo.png" alt="">
            <div>
                <button>
                    <img class="seta" src="assets/arrow-left.png" alt="">
                    <a routerLink="/lista-contatos">Voltar</a>
                </button>
            </div>
        </section>
        <section class="cabecalho-contato">
            <img src="assets/adicionar-contato.png" alt="">
            <h1>Adicionar Contato</h1>
        </section>
    </header>
    <form [formGroup]="contatoForm" (ngSubmit)="salvarContato()">
        <label for="nome">Nome</label>
        <input type="text" formControlName="nome" id="nome" name="nome" placeholder="Digite o nome do contato">
        @if(contatoForm.get('nome')?.errors && contatoForm.get('nome')?.touched) {
            <div class="mensagem-erro">
                Campo obrigatório
            </div>
        }
        
        <label for="telefone">Telefone</label>
        <input type="tel" formControlName="telefone" id="telefone" name="telefone" placeholder="Digite o telefone do contato">
        @if(contatoForm.get('telefone')?.errors && contatoForm.get('telefone')?.touched) {
            <div class="mensagem-erro">
                Campo obrigatório
            </div>
        }
        
        <label for="email">E-mail</label>
        <input type="email" formControlName="email" id="email" name="email" placeholder="Digite o e-mail do contato">
        @if(contatoForm.get('email')?.errors?.['required'] && contatoForm.get('email')?.touched) {
            <div class="mensagem-erro">
                Campo obrigatório
            </div>
        }
        @if(contatoForm.get('email')?.errors?.['email'] && contatoForm.get('email')?.touched) {
            <div class="mensagem-erro">
                E-mail inválido
            </div>
        }
        
        <app-separador></app-separador>

        <label for="aniversario">Aniversário</label>
        <input type="date" formControlName="aniversario" id="aniversario" name="aniversario" placeholder="Data de nascimento">
        
        <label for="redes">Redes Sociais</label>
        <div class="input-container">
            <span class="span-http">http://</span>
            <input type="url" formControlName="redes"id="redes" name="redes" placeholder="Digite a URL da página">
        </div>
        
        <label for="observacoes">Nome</label>
        <textarea id="observacoes" formControlName="observacoes" name="observacoes" placeholder="Coloque observações nesse espaço. Exemplo: 'Instrutora da academia'"></textarea>

        <section class="botoes">
            <button (click)="cancelar()" class="botao-cancelar" type="button">Cancelar</button>
            
            <button
                [disabled]="contatoForm.invalid"
                [ngClass]="contatoForm.valid ? 'botao-salvar' : 'botao-desabilitado'"
                type="submit"
            >Salvar contato</button>
        </section>
    </form>
</app-container>